.align-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30vw;
    margin: 0 auto;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

h3 {
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
    width: 100%;
}

.Auth-label {
    margin-bottom: 0;
    text-align: left;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding-bottom: 20px;
}

hr {
    background-color: black;
    width: 50%;
    padding: 1px;
}

a {
    cursor: pointer;
    color: blue;
}