button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dashboard-btn-body {
    border: 1px solid var(--bg-primary-color);
    border-radius: 5px;
    width: 200px;
    height: 80px;
}

.dashboard-btn-body img {
    margin-right: 10px;
}

.dashboard-btn-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.form-btn {
    border: 1px solid grey;
    border-radius: 15px;
    min-width: 100px;
    width: fit-content;
    padding: 5px 20px;
}

button:hover {
    cursor: pointer;
}

.burger:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.variant-blue {
    background-color: var(--blue);
    color: white;
}

.variant-green {
    background-color: var(--green);
    color: white;
}

.variant-red {
    background-color: var(--red);
    color: white;
}

.borderless {
    border: none;
}

.round {
    border-radius: 100px;
    width: 50px;
    height: 50px;
}

.google-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #EA4335;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    width: 200px;
    height: 50px;
}

.google-btn:hover {
    background-color: #D4372D;
}

.google-icon {
    width: 30px;
    height: 30px;
    margin-right: 8px;
}