.RefusalBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75vw;
    height: 70vh;
    background-color: #f5f5f5;
}
h2{
    margin-bottom: 30px;
}
.ButtonRefusal{
    margin: 30px 10px 20px 10px;
    padding: 2% 5%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-weight: 500;
}