/* Animation */
#hourglass {
    opacity: 1;
    color: #6a1b9a;
    font-size: 5rem;
    animation: hourglass-spin 2.4s ease-out infinite;
  }
  
  #hourglass i {
    opacity: 0;
    animation: hourglass 2.4s ease-in infinite, hourglass-spin 2.4s ease-out infinite;
  }
  
  #hourglass > i:nth-child(1) {
    color: #000000; /* Noir */
    animation-delay: 0s, 0s;
  }
  
  #hourglass > i:nth-child(2) {
    color: #000000; /* Noir */
    animation-delay: 0.6s, 0s;
  }
  
  #hourglass > i:nth-child(3) {
    color: #000000; /* Noir */
    animation-delay: 1.2s, 0s;
  }
  
  #hourglass > i:nth-child(4) {
    color: #000000; /* Noir */
    animation: hourglass-end 2.4s ease-in infinite, hourglass-spin 2.4s ease-out infinite;
    animation-delay: 1.8s, 0s;
  }
  
  #hourglass > i:nth-child(5) {
    color: #006064;
    opacity: 1;
    animation: hourglass-spin 2.4s ease-out infinite;
  }
  
  @keyframes hourglass {
    0% {
      opacity: 1;
    }
    24% {
      opacity: 0.9;
    }
    26% {
      opacity: 0;
    }
  }
  
  @keyframes hourglass-end {
    0% {
      opacity: 0;
    }
    70% {
      opacity: 0;
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes hourglass-spin {
    75% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(180deg);
    }
  }
  
  /* Layout */
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  