.suivi-presence-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.filters {
    display: flex;
    width: 100%;
    gap: 50px;
    margin-bottom: 20px;
}

.toggle-section {
    display: flex;
    width: 100%;
    gap: 10px;
    margin-bottom: 20px;
}

.toggle-label {
    font-size: 14px;
    color: black;
}

.content {
    display: flex;
    width: 100%;
    gap: 40px;
    align-items: center;
}

.circular-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.circular-bar h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.line-chart {
    width: 900px;
    height: 350px;
    margin-top: 50px;
    margin-left: 10vw;
}

.line-chart canvas {
    width: 100% !important;
    height: 100% !important;
}

.student-list {
    width: 100%;
    margin-top: 50px;
}

.student-list table {
    width: 80%;
    border-collapse: collapse;
}

.student-list th, .student-list td {
    border: 1px solid #ddd;
    padding: 8px;
}

.student-list th {
    background-color: #f2f2f2;
    text-align: left;
}
