.app {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: #fff;
  position: relative;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  box-sizing: border-box;
}

.student-count {
  font-size: 16px;
  font-weight: bold;
}

.total-time {
  font-size: 16px;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px 0;
}

.hourglass-icon {
  font-size: 24px;
}

.time-left {
  font-size: 20px;
  margin: 3px 20px;
}

.progress-bar {
  width: 80vh;
  height: 20px;
  background-color: #d3d3d3;
  border-radius: 10px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #333;
  transition: width 1s linear;
}

.absent-students-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
