/* Suivi2.css */

.app {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
  background-color: #fff;
  position: relative;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  box-sizing: border-box;
}

.student-count {
  font-size: 16px;
  font-weight: bold;
}

.total-time {
  font-size: 16px;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px 0;
}

.hourglass-icon {
  font-size: 24px;
}

.time-left {
  font-size: 20px;
  margin: 3px 20px;
}

.progress-bar {
  width: 80vh; /* Adjust width as needed */
  height: 20px; /* Adjust the height as needed */
  background-color: #e0e0e0; /* Light grey background */
  border-radius: 5px; /* Slightly rounded corners */
  overflow: hidden;
  position: relative;
  margin: 10px 0;
  display: flex;
}

.progress {
  height: 100%;
  background-color: red; /* Red color for progress */
  transition: width 0.5s ease; /* Smooth transition */
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px 0 0 5px; /* Rounded corners on the left */
}

.progress-blue {
  background-color: blue; /* Blue color for completed section */
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transition: width 0.5s ease; /* Smooth transition */
  border-radius: 0 5px 5px 0; /* Rounded corners on the right */
}

.absent-students-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
