table {
    width: 600px;
    margin: auto;
}

thead {
    background-color: rgb(213, 213, 213);
    color: black;
    text-align: left;
}

th, td {
    padding: 10px;
}

tr {
    border: 1px solid grey;
}

.table-body {
    max-height: 350px;
    /* Hauteur maximale du corps du tableau */
    overflow-y: auto;
    overflow-x: hidden;
}

tbody>tr:nth-of-type(even) {
    background-color: var(--bg-secondary-color);
}

thead .line th:last-child,
tbody .line td:last-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
}