table {
    width: 60%;
    margin: auto;
}

thead {
    background-color: #8ab9f1;
    color: white;
    
}

th, td {
    padding: 10px;
}

tr {
    border: 1px solid grey;
}

.table-body {
    max-height: 350px;
    /* Hauteur maximale du corps du tableau */
    overflow-y: auto;
    overflow-x: hidden;
}

tbody>tr:nth-of-type(even) {
    background-color: var(--detail-primary-hover);
}

thead .line th:last-child,
tbody .line td:last-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
}